:root {
    --background-color: #ffffff;
    --text-color: #000000;
}

[data-theme="dark"] {
    --background-color: #000000;
    --text-color: #ffffff;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Open Sans', sans-serif;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../public/fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../public/fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
}